*, *::before, *::after{ 
  box-sizing: border-box;     
  -webkit-tap-highlight-color: transparent; 
}

body{
  --dark: rgb(20, 20, 20);
  font-family: sans-serif;
  font-size: 22px;
  margin: 0;
}

input{
  font-family: inherit;
  font-weight: 700;
  border: solid white 1px;
  text-align: center;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus,
input:active
{
  outline: none;
}

input:disabled{
  opacity: 0.75;
}

section{
  padding: 4rem 1rem;
}

.spacing> * + *{
  margin-top: 0.5em;
}

.container{
  margin: 0 auto;
  width: 750px;
  max-width: 90%;
}

.row{
  display: flex;
  justify-content: space-between;
}

.btn{
  font-weight: bold;
  border: 0px;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:active{
  opacity: 0.75;
}

.btn:disabled{
  opacity: 0.75;
}

.text-civil{
  color: rgb(255, 255, 255);
}

.text-doctor{
  color: rgb(0, 255, 0);
}

.text-police{
  color: rgb(0, 0, 255);
}

.text-mafia{
  color: rgb(255, 0, 0);
}

.picker{

  background-color: var(--dark);
  color: white;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100dvh;
}

.picker input{
  max-width: 8ch;
}


#civil{
  background-color: rgb(120, 128, 120);
  border: 1px solid rgb(255, 255, 255);
}

#doctor{
  background-color: rgb(8, 128, 8);
  border: 1px solid rgb(0, 255, 0);
}

#police{
  background-color: rgb(8, 8, 128);
  border: 1px solid rgb(0, 0, 255);
}

#mafia{
  background-color: rgb(128, 8, 8);
  border: 1px solid rgb(255, 0, 0);
}

.pick-role{
  align-items: center;
  padding: 1.5em 0;
  font-weight: 600;
  font-size: 2rem;
}

.btn--pick{
  width: 100%;
  padding: 0.5em;
  font-size: 2rem;
}

.btn--eye{
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: white;
  font-size: 0.5rem;
}

.pick-role svg{
  height: 20px;
  width: 20px;
  fill: white;
}

.roles-left-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}



